
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container{
        margin-top:200px;
    }
</style>
<div class="container" style="font-size:30px;">
    <h3>Địa chỉ</h3>
    <p>HUTECH KHU E</p>
</div>

